/* GLOBAL */
* {
  font-family: 'Poppins';

}
:root{
  --color-blue: #1c1f42;
  --color-red: #cc2855;
}

body {
  color: #333;
}

.font-primary {
  font-family: 'Playfair-Display';

}

h1{
  font-size: 5rem;
  line-height: 70px;
}
h1 {
  font-size: 6rem;
  line-height: 80px;
  font-weight: bold;
  letter-spacing: -4px;
}

h1 span {
  font-weight: 400;
  margin: 0px 25px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -2px;

}

.font-title {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -4px;
}

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

h2{
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -4px;
}

h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600px;
  font-size: 22px;
}

a, p
 {

  font-size: 18px;
  font-weight: 500;
}

input {
  outline: none;
  font-size: 16px;
}

input::placeholder {
  color: currentColor;
}

.btn_info{
  cursor: pointer;
  overflow: hidden;
}


/* FONT */
@font-face {
  font-family: 'Playfair-Display';
  src: url(./assets/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

/* FONT SECUNDARY */
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins/Poppins-ExtraLight.ttf);
}

.gradient {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.711), rgb(0, 0, 0));
}

 


/* gradient */

.gradient {
  background: radial-gradient(rgba(0, 0, 0, 0.394), rgba(0, 0, 0, 0.814), rgb(0, 0, 0));
}

.gradient-backdrop {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.927), rgba(0, 0, 0, 0.492), rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.03));
  backdrop-filter: 16px;

}


/* Animación para el efecto de rotación y desplazamiento en X */

.BtnLinkIcon:hover .BtnLinkIcon--icon .BtnLinkIcon--icon__svg {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(10deg) translateX(-5px);
    /* Rotación hacia la derecha y desplazamiento hacia la izquierda */
  }

  50% {
    transform: rotate(-10deg) translateX(5px);
    /* Rotación hacia la izquierda y desplazamiento hacia la derecha */
  }

  75% {
    transform: rotate(10deg) translateX(-5px);
  }

  100% {
    transform: rotate(0deg) translateX(0);
  }
}




/* --------------------------------- */
.animation{
  /* display: none; */
  top: -100%;
  animation: animation 6s;
}

@keyframes animation {
  0%,99%{
    top: 0%;

  }
  100%{
    top: -100%;
  }
  
}
.animation::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #333;
  left: -50%;
  top: 0%;
  animation: animation--before 5s ease-in-out;
}

@keyframes animation--before {
  0%, 90%{
    left: 0%;
  }
  100%{
    left: -50%;
  }

  
}
.animation::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #333;
  right: -50%;
  top: 0%;
  z-index: -10;
   animation: animation--after 5s ease-in-out;
}

@keyframes animation--after {
  0%, 90%{
    right: 0%;
  }
  100%{
    right: -50%;
  }

  
}

.bg__animation {
  background: url('../public/animation-1.jpg');
  background-size: cover;
  background-position: center;
  animation: animation--image 3.5s;
  width: 350px;
  height: 500px;
  opacity: 0;
}

.bg__animation--gradient {
  background: radial-gradient(rgba(0, 0, 0, 0.079), rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.892));
}


@keyframes animation--image {
  0% {
    background: url('../public/animation-1.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    opacity: 1;
  }
  
  15% {
    background: url('../public/animation-1.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    opacity: 1;

  }

  16% {
    background: url('../public/animation-2.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;

  }
  31% {
    background: url('../public/animation-2.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;

  }

  32% {
    background: url('../public/animation-3.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;

  }
  47% {
    background: url('../public/animation-3.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;

  }

  48% {
    background: url('../public/animation-4.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
  }
  62% {
    background: url('../public/animation-4.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    width: 350px;
    height: 500px;
  }
  63% {
    background: url('../public/animation-2.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    width: 350px;
    height: 500px;
  }

  79% {
    background: url('../public/animation-2.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
  }

  80% {
    background: url('../public/animation-4.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    opacity: 1;
  }
  95% {
    background: url('../public/animation-4.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
  }

  96% {
    background: url('../public/animation-2.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
  }

  100% {
    background: url('../public/animation-4.jpg');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    opacity: 0;


  }


}

.Barra, .animation__text {
  animation: Barra__opacity 3.5s ease-in-out;
  opacity: 0;
}

@keyframes Barra__opacity {

  0%,
  80% {
    opacity: 1;

  }

  100% {
    opacity: 0;
  }


}

.Barra::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: white;
  animation: Barra 3.5s infinite ease-in-out;
}

@keyframes Barra {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }

}

.animation__line--delay{
  animation: animation__line--delay 1s;
  animation-delay: 3.5s;
  height: 0%;
}

@keyframes animation__line--delay {
  0%{
    height: 0%;
  }
  100%{
    height: 100%;

  }
  
}

/*  */






.clip {
     clip-path: polygon(55.146% 3.185%, 55.146% 3.185%, 55.431% 4.19%, 55.933% 5.014%, 56.606% 5.65%, 57.403% 6.09%, 58.278% 6.329%, 59.185% 6.359%, 60.077% 6.173%, 60.907% 5.764%, 61.63% 5.125%, 62.198% 4.249%, 62.198% 4.249%, 62.863% 3.254%, 63.705% 2.581%, 64.661% 2.209%, 65.668% 2.119%, 66.662% 2.293%, 67.582% 2.71%, 68.364% 3.351%, 68.944% 4.197%, 69.26% 5.228%, 69.248% 6.425%, 69.248% 6.425%, 69.225% 7.468%, 69.462% 8.403%, 69.918% 9.209%, 70.55% 9.866%, 71.316% 10.352%, 72.174% 10.648%, 73.081% 10.733%, 73.995% 10.586%, 74.874% 10.189%, 75.676% 9.519%, 75.676% 9.519%, 76.604% 8.764%, 77.607% 8.368%, 78.629% 8.295%, 79.618% 8.506%, 80.518% 8.965%, 81.274% 9.634%, 81.832% 10.477%, 82.137% 11.456%, 82.136% 12.534%, 81.773% 13.674%, 81.773% 13.674%, 81.442% 14.665%, 81.394% 15.628%, 81.592% 16.532%, 82.002% 17.346%, 82.591% 18.036%, 83.323% 18.571%, 84.165% 18.92%, 85.081% 19.05%, 86.039% 18.93%, 87.002% 18.526%, 87.002% 18.526%, 88.111% 18.078%, 89.186% 17.996%, 90.185% 18.227%, 91.068% 18.72%, 91.792% 19.424%, 92.317% 20.287%, 92.601% 21.257%, 92.604% 22.283%, 92.285% 23.312%, 91.601% 24.295%, 91.601% 24.295%, 90.994% 25.144%, 90.663% 26.05%, 90.586% 26.973%, 90.739% 27.871%, 91.098% 28.704%, 91.64% 29.432%, 92.341% 30.013%, 93.178% 30.407%, 94.128% 30.574%, 95.167% 30.472%, 95.167% 30.472%, 96.359% 30.371%, 97.41% 30.609%, 98.297% 31.125%, 98.994% 31.856%, 99.479% 32.742%, 99.726% 33.721%, 99.713% 34.732%, 99.413% 35.713%, 98.804% 36.602%, 97.862% 37.339%, 97.862% 37.339%, 97.031% 37.972%, 96.448% 38.74%, 96.102% 39.599%, 95.983% 40.502%, 96.081% 41.404%, 96.384% 42.259%, 96.883% 43.021%, 97.567% 43.644%, 98.426% 44.083%, 99.448% 44.292%, 99.448% 44.292%, 100.617% 44.547%, 101.552% 45.085%, 102.247% 45.838%, 102.698% 46.743%, 102.9% 47.732%, 102.848% 48.741%, 102.537% 49.702%, 101.961% 50.551%, 101.118% 51.222%, 100% 51.649%, 100% 51.649%, 99.02% 52.009%, 98.236% 52.571%, 97.652% 53.29%, 97.272% 54.117%, 97.1% 55.008%, 97.138% 55.914%, 97.39% 56.79%, 97.86% 57.587%, 98.551% 58.26%, 99.467% 58.761%, 99.467% 58.761%, 100.509% 59.35%, 101.244% 60.139%, 101.686% 61.064%, 101.85% 62.062%, 101.752% 63.066%, 101.405% 64.015%, 100.824% 64.842%, 100.023% 65.483%, 99.019% 65.876%, 97.824% 65.954%, 97.824% 65.954%, 96.782% 66.008%, 95.867% 66.314%, 95.098% 66.829%, 94.491% 67.508%, 94.063% 68.309%, 93.832% 69.186%, 93.815% 70.097%, 94.029% 70.998%, 94.491% 71.845%, 95.218% 72.595%, 95.218% 72.595%, 96.039% 73.464%, 96.509% 74.435%, 96.658% 75.449%, 96.521% 76.451%, 96.131% 77.382%, 95.52% 78.186%, 94.721% 78.805%, 93.767% 79.183%, 92.692% 79.262%, 91.528% 78.985%, 91.528% 78.985%, 90.516% 78.729%, 89.552% 78.752%, 88.665% 79.017%, 87.885% 79.487%, 87.24% 80.126%, 86.761% 80.897%, 86.476% 81.762%, 86.415% 82.686%, 86.606% 83.631%, 87.08% 84.562%, 87.08% 84.562%, 87.609% 85.635%, 87.772% 86.7%, 87.616% 87.714%, 87.19% 88.63%, 86.542% 89.405%, 85.722% 89.993%, 84.776% 90.349%, 83.754% 90.428%, 82.703% 90.187%, 81.673% 89.579%, 81.673% 89.579%, 80.781% 89.036%, 79.852% 88.774%, 78.927% 88.766%, 78.042% 88.985%, 77.238% 89.405%, 76.553% 90%, 76.026% 90.743%, 75.695% 91.608%, 75.6% 92.568%, 75.778% 93.596%, 75.778% 93.596%, 75.968% 94.778%, 75.809% 95.844%, 75.361% 96.767%, 74.684% 97.518%, 73.837% 98.067%, 72.879% 98.387%, 71.87% 98.449%, 70.87% 98.224%, 69.937% 97.683%, 69.133% 96.798%, 69.133% 96.798%, 68.44% 96.017%, 67.63% 95.493%, 66.748% 95.212%, 65.838% 95.161%, 64.946% 95.326%, 64.116% 95.693%, 63.393% 96.247%, 62.822% 96.976%, 62.449% 97.866%, 62.317% 98.901%, 62.317% 98.901%, 62.15% 100.086%, 61.684% 101.058%, 60.984% 101.808%, 60.116% 102.325%, 59.144% 102.6%, 58.135% 102.624%, 57.153% 102.385%, 56.263% 101.875%, 55.531% 101.083%, 55.022% 100%, 55.022% 100%, 54.59% 99.049%, 53.971% 98.309%, 53.211% 97.781%, 52.357% 97.464%, 51.456% 97.358%, 50.555% 97.464%, 49.701% 97.781%, 48.94% 98.309%, 48.321% 99.049%, 47.889% 100%, 47.889% 100%, 47.38% 101.083%, 46.648% 101.875%, 45.759% 102.385%, 44.776% 102.624%, 43.767% 102.6%, 42.795% 102.325%, 41.927% 101.808%, 41.227% 101.058%, 40.761% 100.086%, 40.594% 98.901%, 40.594% 98.901%, 40.462% 97.866%, 40.087% 96.976%, 39.517% 96.247%, 38.794% 95.693%, 37.964% 95.326%, 37.072% 95.161%, 36.162% 95.212%, 35.281% 95.493%, 34.471% 96.017%, 33.779% 96.798%, 33.779% 96.798%, 32.973% 97.683%, 32.04% 98.224%, 31.04% 98.449%, 30.031% 98.387%, 29.073% 98.067%, 28.226% 97.518%, 27.549% 96.767%, 27.102% 95.844%, 26.943% 94.778%, 27.133% 93.596%, 27.133% 93.596%, 27.312% 92.568%, 27.216% 91.608%, 26.886% 90.743%, 26.359% 90%, 25.674% 89.405%, 24.87% 88.985%, 23.986% 88.766%, 23.06% 88.774%, 22.131% 89.036%, 21.238% 89.579%, 21.238% 89.579%, 20.208% 90.187%, 19.157% 90.428%, 18.135% 90.349%, 17.189% 89.993%, 16.368% 89.405%, 15.72% 88.63%, 15.294% 87.714%, 15.138% 86.7%, 15.301% 85.635%, 15.831% 84.562%, 15.831% 84.562%, 16.305% 83.631%, 16.497% 82.686%, 16.436% 81.762%, 16.151% 80.897%, 15.672% 80.126%, 15.027% 79.487%, 14.247% 79.017%, 13.36% 78.752%, 12.395% 78.729%, 11.383% 78.985%, 11.383% 78.985%, 10.219% 79.262%, 9.144% 79.183%, 8.19% 78.805%, 7.391% 78.186%, 6.78% 77.382%, 6.39% 76.451%, 6.253% 75.449%, 6.403% 74.435%, 6.872% 73.464%, 7.693% 72.595%, 7.693% 72.595%, 8.421% 71.845%, 8.883% 70.999%, 9.097% 70.098%, 9.08% 69.187%, 8.849% 68.31%, 8.421% 67.509%, 7.814% 66.83%, 7.044% 66.315%, 6.13% 66.009%, 5.087% 65.954%, 5.087% 65.954%, 3.893% 65.876%, 2.889% 65.483%, 2.089% 64.842%, 1.509% 64.015%, 1.161% 63.066%, 1.063% 62.062%, 1.227% 61.064%, 1.669% 60.139%, 2.403% 59.35%, 3.444% 58.761%, 3.444% 58.761%, 4.36% 58.26%, 5.051% 57.587%, 5.521% 56.789%, 5.773% 55.914%, 5.811% 55.007%, 5.639% 54.116%, 5.259% 53.288%, 4.675% 52.57%, 3.892% 52.008%, 2.911% 51.649%, 2.911% 51.649%, 1.793% 51.222%, .95% 50.551%, .374% 49.702%, .063% 48.741%, .011% 47.732%, .213% 46.743%, .664% 45.838%, 1.36% 45.085%, 2.294% 44.547%, 3.463% 44.292%, 3.463% 44.292%, 4.486% 44.083%, 5.345% 43.643%, 6.03% 43.019%, 6.529% 42.257%, 6.832% 41.402%, 6.93% 40.5%, 6.81% 39.597%, 6.464% 38.739%, 5.881% 37.971%, 5.049% 37.339%, 5.049% 37.339%, 4.107% 36.602%, 3.498% 35.712%, 3.199% 34.731%, 3.185% 33.72%, 3.432% 32.741%, 3.917% 31.855%, 4.614% 31.124%, 5.501% 30.609%, 6.552% 30.371%, 7.745% 30.472%, 7.745% 30.472%, 8.784% 30.574%, 9.734% 30.407%, 10.572% 30.013%, 11.273% 29.432%, 11.815% 28.704%, 12.174% 27.871%, 12.327% 26.973%, 12.249% 26.05%, 11.918% 25.144%, 11.31% 24.295%, 11.31% 24.295%, 10.627% 23.313%, 10.307% 22.283%, 10.31% 21.258%, 10.595% 20.288%, 11.119% 19.425%, 11.843% 18.722%, 12.726% 18.228%, 13.725% 17.997%, 14.8% 18.079%, 15.909% 18.526%, 15.909% 18.526%, 16.873% 18.93%, 17.83% 19.05%, 18.746% 18.92%, 19.588% 18.571%, 20.32% 18.036%, 20.909% 17.346%, 21.32% 16.532%, 21.518% 15.628%, 21.469% 14.665%, 21.139% 13.674%, 21.139% 13.674%, 20.775% 12.534%, 20.774% 11.456%, 21.079% 10.477%, 21.637% 9.634%, 22.392% 8.965%, 23.292% 8.506%, 24.28% 8.295%, 25.303% 8.368%, 26.307% 8.764%, 27.235% 9.519%, 27.235% 9.519%, 28.037% 10.188%, 28.916% 10.585%, 29.83% 10.731%, 30.737% 10.647%, 31.595% 10.351%, 32.361% 9.865%, 32.993% 9.209%, 33.449% 8.403%, 33.686% 7.468%, 33.663% 6.425%, 33.663% 6.425%, 33.651% 5.228%, 33.967% 4.198%, 34.547% 3.352%, 35.329% 2.711%, 36.249% 2.294%, 37.244% 2.12%, 38.25% 2.209%, 39.206% 2.581%, 40.048% 3.254%, 40.713% 4.249%, 40.713% 4.249%, 41.281% 5.125%, 42.004% 5.764%, 42.834% 6.173%, 43.726% 6.359%, 44.633% 6.329%, 45.508% 6.09%, 46.305% 5.65%, 46.978% 5.014%, 47.48% 4.19%, 47.765% 3.185%, 47.765% 3.185%, 48.106% 2.038%, 48.712% 1.147%, 49.516% .51%, 50.451% .127%, 51.453% -0%, 52.455% .127%, 53.391% .51%, 54.195% 1.147%, 54.801% 2.038%, 55.143% 3.185%, 55.146% 3.185%);
}

/* index.css */
/* Estilos adicionales para las animaciones del router */
.page-motion-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  will-change: transform, opacity;
}

/* Optimizaciones de rendimiento */
.page-motion-wrapper * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Efectos de blur suaves */
.blur-enter {
  filter: blur(10px);
}

.blur-exit {
  filter: blur(10px);
}

/* Animaciones CSS adicionales para elementos internos */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.floating-element {
  animation: float 3s ease-in-out infinite;
}

/* Gradientes animados */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #3b82f6, #8b5cf6, #06b6d4, #10b981);
  background-size: 400% 400%;
  animation: gradient-shift 8s ease infinite;
}

/* Efectos de cristal/glassmorphism */
.glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Sombras dinámicas */
.dynamic-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(255, 255, 255, 0.05);
  transition: box-shadow 0.3s ease;
}

.dynamic-shadow:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 0 0 1px
    rgba(255, 255, 255, 0.05);
}





/*  */
