/* GLOBAL */
*{
  font-family: 'Poppins';
  
}

h1, h2, h3, h4, h5{
  font-family: 'Playfair-Display';
  font-style: italic;
}

h1{
  font-size: 4.5rem;
  font-weight: 500;
}

a, p{
  font-size: 18px;
  font-weight: 500;
}


/* FONT */
@font-face {
  font-family: 'Playfair-Display';
  src: url(./assets/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

/* FONT SECUNDARY */
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins/Poppins-ExtraLight.ttf);
}

 